# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# VS Code
.vscode/
tempCodeRunnerFile.py

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Airflow
airflow.db
airflow-webserver.pid
airflow.cfg

# Python Cache / Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Build Files
build/
dist/
*.egg-info/

# Dataset (no subir csv)
data/*.csv

# Las siguientes dos líneas se descomentan si se quiere ignorar las carpetas data/raw y data/processed, que son las que contienen los datos crudos y procesados respectivamente. Esto es útil si no quieres subir los datos al repositorio, pero sí quieres mantener la estructura de carpetas.
# data/raw/
# data/processed/

# PostgreSQL Backups
*.sql
*.dump
*.backup

# OS Files
.DS_Store
Thumbs.db

# txt de guía
informacion_extra.txt