# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# VS Code
.vscode/
tempCodeRunnerFile.py

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Airflow
airflow.db
airflow-webserver.pid
airflow.cfg
airflow/

# Python Cache / Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Build Files
build/
dist/
*.egg-info/

# Dataset (no subir csv)
data/*.csv

# PostgreSQL Backups
*.sql
*.dump
*.backup

# OS Files
.DS_Store
Thumbs.db

# carpeta de imágenes
images/